:root {
  scroll-behavior: smooth;
  --color-orange: orangered;
  --color-dark: #2a2a2a;

  --body-bg: rgb(212, 242, 252);
  --header-bg: rgb(153, 188, 200);
  --tex-color: var(--color-dark);
  --border-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-header-bg: darkblue;
  --dark-text-color: white;
  --dark-border-color: white;

  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
}
/* mobile screen */
@media screen and (width<662px) {
  label[for="hamburgerMenu"] {
    display: block;
  }
  .menu {
    visibility: hidden;
    width: 0px;
    transition: width 0.2s ease-in;
    position: fixed;
    height: 100vh;
    top: 50px;
    right: 0px;
    flex-direction: column;
    background-color: var(--header-bg);
    z-index: 999;
    padding: 10px;
    gap: 15px;
  }
  #hamburgerMenu ~ label {
    transition: all 0.2s ease-in;
  }

  #hamburgerMenu:checked + .menu {
    visibility: visible;
    width: 200px;
  }

  #hamburgerMenu:checked ~ label {
    transform: rotate(90deg);
  }

  .hero {
    grid-template-areas:
      "right"
      "left";
  }

  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* tablet screen */
@media screen and (width >= 662px) and (width<992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* large screen  */
/* @media screen and (width >=992px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */
.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

#darkmode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
  --header-bg: var(--dark-header-bg);
}

#darkmode {
  display: none;
}

body {
  padding: 0px;
  margin: 0px;
}
.container .logo {
  /* height: 70px;
  width: 50px; */
  background-color: red;
}
/* dark mode code */
#darkmodelabel {
  position: fixed;
  top: 100px;
  left: 40px;
  font-size: 2rem;
}
/* 
.container {
  width: 80%;
} */

/* navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);

  height: 50px;
  position: sticky;
  top: 0px;
}

header .container {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

header .container .menu {
  display: flex;
  gap: 15px;
}
/* hero section */
.hero-section {
  margin-top: 1%;
  max-height: 60vh;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.justify-center {
  justify-content: center;
}

.hero {
  background: var(--color-orange);
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--shadow);
  width: 80%;
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}
.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 5px;
}

.left button {
  background: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: left;
  margin-top: -9rem;
}

label[for="hamburgerMenu"] {
  display: none;
}

#hamburgerMenu {
  display: none;
}

/* project section */
.project-card {
  width: 100%;
  height: 400px;
  background-color: red;
}

.project-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.project-grid {
  grid-template-columns: repeat(3, 1fr);
}
/* personal details section */
.details {
  justify-content: center;
  margin-left: 9rem;
}
.detail_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  border: black;
  border-radius: 25px;
  font-size: 20px;
  padding: 20px;
  height: 100px;
  box-shadow: 5px 5px 5px 5px grey;
}
.detail_bar .project {
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.details .detail_bar .graduate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* skills section */
.skills {
  margin-top: 40px;
  height: 200px;
  width: 80%;
  margin-left: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills .skill_header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  border-color: #ad8b73;
  width: 5%;
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}
.skills .skill_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 100%;
  font-size: 20px;
}

.skill_bar .firstskill,
.secondskill,
.thirdskill,
.fourthskill,
.fifthskill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* about me section */
.aboutme {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 50vh;
  width: 100%;
  /* background-color: aqua; */
}
.aboutme .grid_about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 50vh;
}
.left_flex {
  grid-area: left;
  justify-content: flex-start;
  align-items: right;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.right_flex {
  width: 60%;
  background-color: blue;
  height: 100%;
}
.aboutheader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid orangered;
  width: 10%;
  margin-left: 25rem;
}
/* contact section */
.contact {
  height: 100vh;
  width: 100%;
  background-color: green;
  margin-top: 5rem;
}
/* footer section */
footer {
  height: 50px;
  width: 100%;
  background-color: red;
}
